[ffpi_condition_settings]
# Predefined minimums ("Don't run when"-conditions)
# ahdiff = a minimum difference of AHin-AHout should be (in g/m³)
# rhmin = the minimum humidity we would like to have (relative humidity in %)
# tmin = the minimum temperature we would like to have (in degrees C)
ahdiff = 0.5
rhmin = 70
tmin = 14.8

[ffpi_sht75_settings]
# Set the clockpin for all sensors
# Config the pins where the dataline of the SHT75 are connected
sht_sensor_clock = 11
sht_sensor_1_data = 2
sht_sensor_2_data = 3

[ffpi_influxdb_settings]
dbhostname = localhost
dbport = 8086
dbname = fancontrol
