# Predefined minimums ("Don't run when"-conditions)
# ahdiff = a minimum difference of AHin-AHout should be (in g/m³)
# rhmin = the minimum humidity we would like to have (relative humidity in %)
# tmin = the minimum temperature we would like to have (in degrees C)

[ffpi_condition_settings]
ahdiff = 0.5
rhmin = 70
tmin = 14.8

# Set the clockpin for all sensors and configure the pins where
# the datapins of the SHT75 are connected.

[ffpi_sht_settings]
sensorclock = 11
sensor1data = 2
sensor2data = 3

# Settings for the InfluxDB

[ffpi_influxdb_settings]
dbhostname = localhost
dbport = 8086
dbname = fancontrol
