[ffpi_condition_settings]
# Predefined minimums
#
# ahdiff = a minimum difference of AHin-AHout should be (in g/m³)
# rhmin = the minimum humidity we would like to have (relative humidity in %)
# tmin = the minimum temperature we would like to have (in degrees C)
ahdiff = 0.5
rhmin = 70
tmin = 14.8

[ffpi_influxdb_settings]
dbhostname = localhost
dbport = 8086
dbname = fancontrol
