[Unit]
Description=Runs the fancontrol python script

[Service]
Type=simple
User=chepaz
Group=chepaz
WorkingDirectory=/home/chepaz/projects/fancy-fanpi/
ExecStart=/home/chepaz/projects/fancy-fanpi/ffpi_worker.py
